
//Font Weights

$extra-light: 200;
$light: 300;
$normal: 400;
$regular: 500;
$medium: 600;
$demi-bold: 700;
$bold: 800;
$heavy: 900;


//Colors

$prime-black: rgb(23, 89, 119);
$primary: rgb(218, 196, 4);
$dark-text: #ffffff;
$light-text: #f7f1f1;
$inputA: #faf4f4;
$inputB: #f1f1f1;
$placeholder: #f5f0f0;
$placeholder2:#cdcdcd;
$card-bg:#f3f3f3;

$primary-gradient: #FFDF01;
$secondary-gradient: #CA9A00;
$tertiary-gradient: #BE7F00;